<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MyDiaryProj.mydiary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_logo_diary"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_logo_diary"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDiary">
        <activity
            android:name="com.MyDiaryProj.mydiary.DiaryDetailActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="com.MyDiaryProj.mydiary.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <!-- 시작화면 보여주는 코드 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.MyDiaryProj.mydiary.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name="com.MyDiaryProj.mydiary.ModDialog"
            android:theme="@android:style/Theme.Dialog" />

<!--        <activity-->
<!--            android:name=".SettingActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:exported="true" />-->

<!--        <activity-->
<!--            android:name=".InfoActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:exported="true" />-->

<!--        <activity android:name=".FontDialog"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:exported="true" />-->

    </application>

</manifest>